<div class="glob-player dark bg-secondary">
    <div class="glob-btn -dark bg-secondary">
        <audio controls autoplay-muted>
            <source src="./Musique/LeBalMasque.mp3" type="audio/mpeg">

            Your browser does not support the audio element.
        </audio>
    </div>
</div>

